.slide-topo{
    margin: 0;
    
    .item-slide{
        width:100%;
        height: 37.6rem;
        position:relative;
        &:after{
            content: '';
            width: 100%;
            height: 40%;
            position: absolute;
            top: 0;
            left: 0; 
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) -36.63%, rgba(26, 26, 26, 0) 100%);
        }
        &:before{
            content: '';
            width: 100%;
            height: 60%;
            position: absolute;
            bottom: 0;
            left: 0; 
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) -36.63%, rgba(26, 26, 26, 0) 100%);
            transform: matrix(1, 0, 0, -1, 0, 0);
           
        }
        .empreendimento{
            position: absolute;
            width: 32.7rem;
            height: 10rem;
            padding: 2.9rem 2.5rem;
            bottom: 8.4rem;
            left: 9.2rem;
            background: rgba(19, 19, 19, 0.85);
            backdrop-filter: blur(15px);
            @mixin atMedium{
                width: 100%;
                left: 0;
                bottom: 3rem;
            }
            h2{
                font-size: 2.2rem;
                font-weight: 900;
                color: #fff;
                text-transform: uppercase;
                margin: 0;
                @mixin atMedium{
                    text-align: center;
                }
            }
            h3{
                font-size: 1.21rem;
                font-weight: 400;
                color: #fff;
                text-transform: uppercase;
                margin: 0 0 .8rem;
                @mixin atMedium{
                    text-align: center;
                }
            }
            .c-button{
                position: absolute;
                bottom: -6rem;
                right: -2.5rem;
                background: $yellow;
                color: $black;
                display:flex;
                align-items: center;
                @mixin atMedium{
                    width: 100%;
                    right: 0;
                    justify-content: center;

                }
                .arrow-btn{
                    position: absolute;
                    right: 1.2rem;
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
        }
    }
    .owl-dots{
        position: absolute;
        bottom: 4.9rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @mixin atMedium{
            bottom: 14rem;
        }
        .owl-dot{
            width: .6rem;
            height: .6rem;
            border-radius: 50%;
            background: #fff;
            margin: 0 .3rem;
            opacity: .5;
            &.active{opacity: 1;}
        }
    }
    .owl-nav{display:none;}
}

.box-text{
    position: relative;
    width: 100%;
    padding: 6.5rem 0 12.8rem;
    @mixin atMedium{
        padding: 2rem 0 6rem;
    }
    &::before{
        content: '';
        width: 100%;
        height: 71%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/bgsobre.svg);
        z-index: 0;
    }
   
    .flex{
        width: 100%;
        align-items: stretch;
        z-index: 1;
        @mixin atMedium{
            flex-direction:column;
        }
        .side{
            width: 49%;
            text-align: right;
            @mixin atMedium{
                width: 100%;
                text-align: center;
            }
            &.s-right{
                text-align: left;
                h2{
                    text-transform: initial;
                    font-size: 1.8rem;
                    color: $gray;
                    margin-bottom: 2rem;
                }
               
            }
        }
    }
    h2,h3{
        @mixin fontDef;
        color: $blue;
        font-weight: 400;
        font-size: 2.22rem;
        line-height: 3.5rem;
        text-transform: uppercase;
    }
    h2{
        margin-bottom: .8rem;

    }
    h3{
        font-size: 4.4rem;
        line-height: 5rem;
        font-weight: 800;
        margin: 0;
    }
    h4{
        width: 48rem;
        font-size: 1.64rem;
        line-height: 2.4rem;
        font-weight: 400;
        margin: 0;
        color: $gray;
        text-align: center;
        margin: 0 auto;
        a{color: $blue;}
        @mixin atMobile{
            width: 100%;
        }
    }
    p{
        font-size: 1.2rem;
        line-height: 1.83rem;
        color: $gray;
    }
    .box-figures{
        width: 100%;
        text-align: center;
        margin: 0 auto 2rem;
        display:flex;
        justify-content: center;
    }
    .flex-figures{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        figure{
            position: relative;
            width: 17rem;
            height: 8rem;
            display:flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 4rem;
            box-sizing: border-box;
            @mixin atMobile{
                width: 12rem;
            }
            &:last-child{
                .icon-more{
                    display: none;
                    margin-right: 0;
                }
            }
            .icon-more{
                width: 2.4rem;
                height: 2.4rem;
                position: absolute;
                right: -5rem;
            
                background-image: url(../images/more.svg);
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
            }
            img{
                @mixin imgContain;
            }
        } 
    }
    
}

.box-projeto{
    position: relative;
    padding: 5rem 0;
    @mixin atMedium{
        padding: 0 0 3.5rem;
        text-align: center;
        .content-center{
            width: 100%;
        }
    }
    .flex{
        @mixin atMedium{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }
    .c-button{
        @mixin atMedium{
            margin: 4rem auto 0;
            width: 100%;
        }
    }
    .side{
        position: relative;
        width: 49%;
        z-index: 1;
        @mixin atMedium{
            width: 90%;
            margin: 0 auto;
        }
        p{
            width: 34rem;
            margin-top: 0;
            @mixin atMedium{
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    .figures{
        width: 49%;
        @mixin atMedium{
            width: 100%;
            overflow: hidden;
        }
        &.center-vertical{
            figure{
                position: absolute;
                @mixin atMedium{
                    position: relative;
                    margin: 0;
                }
                &.big-img{
                    width: 53.5rem;
                    height: 40.5rem;
                    top: -10.9rem;
                    right: -12rem;
                    z-index: 2;
                    @mixin atMedium{
                        width: 100%;
                        height: 28rem;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: initial;
                    }
                    img{
                        @mixin imgCover;
                    }
                }
                &.small-img{
                    width: 26rem;
                    height: 25rem;
                    right: -2.7rem;
                    bottom: -10.5rem;
                    z-index: 3;
                    @mixin atMedium{
                        display: none;
                    }
                    img{
                        @mixin imgCover;
                    }
                }
            }
        }
        &.center-horizontal{
            display: flex;
            align-items: center;
            
            figure{
                position: absolute;
                @mixin atMedium{
                    width: 100%;
                    position: relative;
                    margin: 0;
                    justify-content: center;
                }
                &.big-img{
                    width: 44.5rem;
                    height: 40.5rem;
                    left: -12rem;
                    z-index: 2;
                    @mixin atMedium{
                        width: 100%;
                        height: 28rem;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: initial;
                    }
                    img{
                        @mixin imgCover;
                    }
                }
                &.small-img{
                    width: 26rem;
                    height: 25rem;
                    left: 15.6rem;
                    z-index: 3;
                    @mixin atMedium{
                        display: none;
                    }
                    img{
                        @mixin imgCover;
                    }
                }
            }
        }
        &.bottom-left{
            figure{
                position: absolute;
                @mixin atMedium{
                    position: relative;
                    margin: 0;
                }
                &.big-img{
                    width: 44.5rem;
                    height: 40.5rem;
                    top: -10.9rem;
                    right: -12rem;
                    z-index: 2;
                    @mixin atMedium{
                        width: 100%;
                        height: 28rem;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: initial;
                    }
                    img{
                        @mixin imgCover;
                    }
                }
                &.small-img{
                    width: 26rem;
                    height: 26rem;
                    right: 15.3rem;
                    bottom: -6.5rem;
                    z-index: 3;
                    @mixin atMedium{display:none;}
                    img{
                        @mixin imgCover;
                    }
                }
            }
        }
    }
    &.p-bottom{
        padding-bottom: 10.5rem;
        @mixin atMedium{
            padding-bottom: 3.5rem;
        }
    }
    &.btn-mod-wblue{
        .c-button{
            background: #fff;
            color: $blue!important;
            border: 1px solid $blue;
            &:hover{
                background: $blue;
                border: 1px solid #fff;
                color: #fff!important;
            }
        }
    }
    &.btn-mod-wblack{
        .c-button{
            background: #fff;
            color: $black!important;
            &:hover{
                background: $black;
                color: #fff!important;
            }
        }
    }
    &.btn-mod-bluew{
        .c-button{
            background: $blue;
            color: #fff!important;
            border: 1px solid $blue;
            &:hover{
                background: #fff;
                color: $blue!important;
            }
        }
        .categ{
            color: $blue!important; 
        }
    }
    &.c-white{
        .categ,.title-box,.subtitle-box,.c-button,p{
            color: #fff;
        }
    }
    &.c-black{
        .categ,.title-box,.subtitle-box,.c-button,p{
            color: $black;
        }
    }

    &.side-right{
        padding: 17.7rem 0 15rem;
        @mixin atMedium{
            padding: 0 0 3.5rem;
        }
        .flex{
            flex-direction: row-reverse;
            @mixin atMedium{
                flex-direction: column-reverse;
            }
        }
        .side{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            @mixin atMedium{
                justify-content: center;
                align-items: center;
            }
        }
        .categ,.title-box,.subtitle-box,.c-button,p,.side{
            text-align: right;
            @mixin atMedium{
                text-align: center;
            }
        }
    }
}

.l-galeria{
    position: relative;
    width: 100%;
    padding: 18rem 0 4.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .box-text{
        text-align: center;
        color: #fff;
        padding: 0;
        &::before{display: none;}
        .subtitle-box{
            color: #fff;
            font-size: 2.3rem;
            font-weight: 400;
            line-height: 3rem;
            margin-bottom: 0;
        }
        .title-box{
            color: #fff;
            font-size: 5.7rem;
            font-weight: 900;
            margin: 2.4rem 0 4.2rem;
        }
        p{
            color: #fff;
            width: 40rem;
            margin: 0 auto;
        }
    }
}

.nossos-clientes{
    padding: 5rem 0 10.5rem;
    .title-box{
        font-size: 3rem;
        text-align: center;
        font-weight: 400;
        margin-bottom: 3.3rem;
    }
    .flex{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        @mixin atMedium{
            flex-direction: row;
        }
        figure{
            width: 12.5%;
            height: 10.5rem;
            margin: 0;
            border: 1px solid #8CB6E7;
            @mixin atMedium{
                width: 33.3%;
            }
            &:first-child{
                border-left: none;
                border-top: none;
            }
            &:nth-child(8n-0){
                border-right: none;
            }
            &:nth-child(8n+1){
                border-left: none;
            }
            &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8){
                border-top: none;
            }
            &:nth-child(17),&:nth-child(18),&:nth-child(19),&:nth-child(20),&:nth-child(21),&:nth-child(22),&:nth-child(23),&:nth-child(24){
                border-bottom: none;
            }
            @mixin atMedium{
                border: none;
                padding: 1rem 0;
            }
            img{
                @mixin imgContain;
            }
        }
    }
}