header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .flex{
        align-items: flex-start;
        @mixin atMedium{
            flex-direction: row;

        }
    }
    .logo{
        width: 8rem;
        height: 3.3rem;
        margin: 1.5rem 0;
        z-index: 101;
        img{
            @mixin imgContain;
        }
    }
    .menu-mobile{
        width: 3.2rem;
        height: 3.2rem;
        background: #fff;
        justify-content: center;
        align-items: center;
        margin: 1.3rem 0.5rem 0 0rem;
        display: none;
        z-index: 101;
        @mixin atMedium{
            display: flex;
        }
        img{
            width: 50%;
            height: 50%;
            object-fit: contain;
        }
    }
    .menu-line{
        padding-right: 10rem;
        @mixin atMedium{
            position: absolute;
            top: 0;
            left: -5%;
            width: 110%;
            padding: 5rem 0 0;
            background: $black;
            display: none;
        }
        ul{
            display: flex;
            margin: 0;
            @mixin atMedium{
                flex-direction: column;  
                padding: 0; 
            }
            li{
                position: relative;
                a{
                    font-size: 1.22rem;
                    color: #fff;
                    font-weight: 400;
                    text-decoration: none;
                    padding: 2.4rem 1.6rem 2.6rem;
                    display: block;
                    text-align: center;
                    @mixin transition;
                    &:hover{
                        background: $blue;
                        color: #fff;
                    }
                    @mixin atMedium{
                        border-bottom: 1px solid #fff;
                    }
                } 
                &.submenu{
                    &:hover{
                        a{font-weight: 700;}
                        ul{
                            display: flex;
                            animation: openMenu .5s forwards ease;
                        }
                    }
                }
                ul{
                    flex-direction:column;
                    padding: 0;
                    display: none;
                    li{
                        a{
                            background: #fff;
                            color: #161616;
                            font-weight: 400!important;
                            padding: 1.6rem 0;
                            border-bottom: 2px solid #9E9E9E;
                            &:hover{
                                border-bottom: 2px solid #fff;
                                
                            }
                        }
                    }
                }
            }
        }
    }
    .c-button{
        width: 10rem;
        height: 6.3rem;
        font-size: 1.2rem;
        line-height: 6.25rem;
        color: $blue;
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        display: block;
        padding: 0;
        margin: 0;
        @mixin transition;
        &:hover{
            background: $blue;
            color: #fff;
        }
        @mixin atMedium{
            display: none;
        }
    }
}
@keyframes openMenu{
    0%{opacity: 0;transform: translateY(-1rem);}
    100%{opacity: 1;transform: translateY(0rem);}
}