.p-a-hbr{
    .box-projeto{
        overflow: hidden;
        &.b-1{
            background: linear-gradient(90deg, rgba(0,81,147,1) 0%, rgba(0,81,147,1) 66%, rgba(255,255,255,1) 66%);
            padding: 9.4rem 0 8.2rem;
            @mixin atMedium{
                background: $blue;
                padding: 0 0 4rem;
            }
            .subtitle-box{
                font-size: 2.3rem;
                margin: 0;
                @mixin atMedium{
                    margin-top:2rem;
                }
            }
            .title-box{
                margin-top: 0rem;
                font-size: 4.5rem;
                line-height: 6rem;
                margin-bottom: 4.5rem;
            }
            p{
                @mixin atMedium{
                    margin: 0 auto;
                }
            }
            .figures{
                &.center-vertical{
                    figure{
                        @mixin atMedium{
                           margin: 0;
                        }
                        &.big-img{
                            height: 40.5rem;
                            top: 2.1rem;
                            @mixin atMedium{
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
        &.b-2{
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 76%, rgba(255, 175, 19, 1) 76%);
            padding: 9.4rem 0 6.2rem;
            @mixin atMedium{
                background: #fff;
                padding: 0 0 4rem;
            }
            .subtitle-box{
                font-size: 1.8rem;
                line-height: 2.6rem;
                margin: 0;
            }
            .title-box{
                margin-top: 0rem;
                font-size: 4.5rem;
                line-height: 6rem;
                margin-bottom: 1.5rem;
                @mixin atMedium{
                    margin-top: 2rem;
                }
            }
            .figures{
                &.bottom-left{
                    figure{
                        &.big-img{
                            width: 35rem;
                            top: initial;
                            bottom: -7.2rem;
                            right: -2.5rem;
                            @mixin atMedium{
                                bottom: 0;
                                right: auto;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &.b-3{
            background: #3D5467;
            padding: 10rem 0 7.5rem;
            @mixin atMedium{
                padding: 0 0 4rem;
            }
            &.side-right{
                p,.title-box,.subtitle-box{
                    @mixin atMedium{
                        width: 100%;
                        text-align: left;
                    }
                }
            }
            .side{
                p{
                    margin-bottom: 4.7rem;
                }
                p + ul{
                    margin-top: -2.5rem; 
                }
                ul{
                    padding: 0;
                    @mixin atMedium{
                      width: 100%;
                    }
                    li{
                        color: #fff;
                        font-size: 1.2rem;
                        line-height: 1.83rem;
                        padding-right: 9.5rem;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        margin-bottom: 1.2rem;
                        @mixin atMedium{
                            width: 100%;
                            text-align: left;
                            justify-content: flex-start;
                            padding-right: 0rem;
                            padding-left: 9rem;
                        }
                        &:before{
                            content: '';
                            width: 8rem;
                            height: 2px;
                            right: 0;
                            background: #fff;
                            position: absolute;
                            @mixin atMedium{
                                right: initial;
                                left: 0;
                            }
                            
                        }
                    }
                }
            }
            .figures{
                &.center-vertical{
                    figure{
                        &.big-img{
                            top: -1.3rem;
                            right: initial;
                            left: -12rem;
                            @mixin atMedium{
                                left: initial;
                                bottom: initial;
                            }
                        }
                        &.small-img{
                            right: initial;
                            left: 6.5rem;
                            bottom: 0.8rem;
                            height: 26rem;
                            
                        }
                    }
                }
            }
        }
    }
    .list-downloads{
        margin: 3.5rem 0;
        .item-download{
            width: 35.5rem;
            padding: 1.2rem 0;
            border-bottom: 1px solid $gray;
            @mixin transition;
            display: block;
            &:hover{
                background: #E5F2F4;
                p,.tt-item{transform: translatex(1rem);}
                .tt-item p{transform: translatex(.5rem);}
            }
            @mixin atMedium{
                width: 100%;
                text-align: left;
            }
            .tt-item{
                font-size: 1.2rem;
                line-height: 2rem;
                font-weight: 400;
                margin: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                @mixin transition;
                p{
                    color: $blue;
                    line-height: 0;
                    margin:0;
                    @mixin transition;
                }
                img{
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-right: 1rem;
                    object-fit: contain;
                }
            }
            p{
                margin: 1.2rem 0 0;
                color: $gray;
                @mixin transition;
            }
        }
    }
}