 .p-empreendimentos{
    .box-text{
        padding:7.5rem 0 16rem;

    }
    .banner-topo-page{
        .title-box{
            @mixin atSmall{font-size: 4.2rem;}
            @mixin atMobile{font-size: 3.6rem;}
        }
    }
}
.box-cards-info{
    background: #3D5467;
    padding-bottom: 5.8rem;
}
.flex-cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    // margin: -8.4rem 4.2rem 0;
    margin: -8.4rem 0 0;
    .item-card{
        // width: 26.6rem;
        width: 32%;
        // margin: 0 0 1.1rem;
        @mixin atMedium{
            width: 48%;
        }
        @mixin atMobile{
            width: 100%;
        }
        &:nth-child(3n-1){
            // margin: 0 1.1rem 1.1rem;
            margin: 0 1.5% 1.5%;
            @mixin atMedium{
                margin: 0;
            }
        }
        @mixin atMedium{
            &:nth-child(2n-1){
                margin: 0 1.5% 1.5%!important;
            }
        }
        @mixin atMobile{
            &:nth-child(1n-1){
                margin: 0 0 1rem!important;
            }
        }
    }
}
figure{
    width: 100%;
    height: 26.6rem;
    margin: 0;
    img{@mixin imgCover;}
}
.info{
    padding: 1rem 2.1rem;
    text-align: left;
    background: #fff;
    h3{
        font-size: 1.62rem;
        font-weight: 400;
        color: $blue;
        margin-bottom: 1.2rem;
    }
    .list-info{
        margin-bottom: 1.4rem;
        .item-info{
            display:flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0 0 .7rem;

            img{
                width: 1.2rem;
                height: 1.2rem;
                object-fit: contain;
                margin-right: .7rem;
            }
            p{
                font-size: 1.1rem;
                line-height: 1.1rem;
                color: $black;
                font-weight: 400;
                margin: 0;
            }
        }
    }
}