 .p-empreendimentos{
    .box-text{
        padding:7.5rem 0 16rem;

    }
    .banner-topo-page{
        .title-box{
            @mixin atSmall{font-size: 4.2rem;}
            @mixin atMobile{font-size: 3.6rem;}
        }
    }
}
.box-cards-info{
    background: #3D5467;
    padding-bottom: 5.8rem;
}